@font-face {
  font-family: 'Golos Text';
  src: url('/fonts/golos-text_regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Golos Text';
  src: url('/fonts/golos-text_medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Golos Text';
  src: url('/fonts/golos-text_demibold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Golos Text';
  src: url('/fonts/golos-text_bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Golos Text';
  src: url('/fonts/golos-text_black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}
